[2020-11-23 18:24] arrow53 opened #16 "question about mender install/commit and this repo"
@dwalkes This isn't really so much an issue as a question about the wiki

https://github.com/OE4T/tegra-demo-distro/wiki/Mender-Integration-Tests

Is it true that upon a success `mender -install` that nvbootctrl will always just switch to the opposite active boot slot from the one it is currently in? So, basically the last good update becomes the new "golden/fallback" image?

From the wiki I see t

[2020-11-23 18:52] dwalkes commented on #16
@arrow53

I was proposing those tests as a way to resolve https://github.com/BoulderAI/meta-mender-community/pull/1 - however these aren't ready to go upstream yet.  I've edited to make it clear those instructions are work in progress.

Yes.

Yes, assuming you don't have the changes in https://github.com/BoulderAI/meta-mender-community/pull/1 and you are using uboot.  I was proposing adding someth

[2020-11-30 17:15] arrow53 commented on #16
@dwalkes sorry. I read this and it was very helpful. Forgot to comment/close.

[2020-11-30 17:15] #16 closed

[2020-12-10 06:28] ACAVJW4H opened #22 "Error running bitbake image-full"
I am getting the following fatal error when trying to bitbake image-full
 `repository '/home/mete/tegra-demo distro/build/downloads/git2/github.com.opencv.opencv_3rdparty.git/' does not exist`
`opencv-4.1.0-r0 do_unpack: Fetcher failure: Fetch command export PSEUDO_DISABLED=1; unset _PYTHON_SYSCONFIGDATA_NAME; export DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/1000/bus";`

I looked around the op

[2020-12-10 06:31] ACAVJW4H opened #23 "Error running bitbake image-sato"
I am getting the following error and cant build the image

[code]

[2020-12-10 11:29] madisongh commented on #22
It looks like you have a blank in the top-level directory name for your workspace, based on the path name reported in the error: `/home/mete/tegra-demo distro/`. Spaces in path names can confuse the tools, and that may be what's happening here.  Try a different path name with no spaces in any of the directory name(s).

[2020-12-10 11:31] #23 closed

[2020-12-10 11:35] madisongh commented on #23
This should be fixed now.  You may run into other issues building the demo distro from the master branch, though, and unless you need to work with the bleeding edge, you would be better off using the [dunfell-l4t-r32.4.3](https://github.com/OE4T/tegra-demo-distro/tree/dunfell-l4t-r32.4.3) branch.

[2020-12-10 14:04] dwalkes commented on #23
@madisongh should we change the default branch on tegra-demo-distro to dunfell-l4t-r32.4.3?  Another option might be a comment in the readme linking back to https://github.com/OE4T/meta-tegra/wiki/Which-branch-should-I-use%3F and I could add that.  It might be nice to add more cross linking to the meta-tegra project and Wiki.

[2020-12-10 15:13] madisongh commented on #23
The README update sounds good to me, even if it's just listing the available branches we have in the demo distro and current usage recommendations.

[2020-12-10 15:32] dwalkes commented on #23
See what you think about https://github.com/OE4T/tegra-demo-distro/pull/25/files - I tried to mirror what meta-tegra is doing with a reference to a wiki page and mentioned this in the setup steps.

[2020-12-10 16:02] ACAVJW4H commented on #22
I was actually following a tutorial and my local repo was already on the  dunfell-l4t-r32.4.3 branch. I don't think the error was caused by the space, I might have introduced the space while copying from the terminal. (This step is actually far into the build like 3-4 hours in on my poor nuc) On an other note `bitbake base-image-egl `was successful in the same folder

[2020-12-10 19:50] madisongh commented on #22
Can you attach the `log.do_unpack` file, so we can see the full log with the actual error message being logged?

[2020-12-10 23:55] ACAVJW4H commented on #22
I installed a fresh ubuntu and was able to produce the image. I guess it failed to download one of the many gigs of files needed to reach image-full. Thanks for the support though

[2020-12-10 23:55] #22 closed

[2020-12-11 00:15] ACAVJW4H opened #26 "Cannot run mender setup"
I am not sure if  this the correct repo to ask this but I am trying to follow the mender on jetson nano tutorial. After a little head-scratching I was finally able to deploy the resulting images on to the nano and was greeted with a nice gui.

I thought that since we define the tenant token in the build process my jetson would automagically show on my hosted.mender dashboard. Sadly there was nothi

[2020-12-11 00:28] dwalkes commented on #26
@ACAVJW4H this would probably be a better question for hub.mender.com but there's a help section on your hosted.mender.io instance at https://hosted.mender.io/ui/#/help/system-updates/build-with-yocto which is useful here to
 see how to switch from the demo layer and update your server URL and tenant token.

[2020-12-11 14:48] ACAVJW4H commented on #26
Thanks, I was finally able to see my device on the dashboard!

[2020-12-11 14:48] #26 closed

[2021-01-15 22:11] jajoosiddhant opened #37 "Fails to boot on successful flash for machine jetson-nano-emmc on changing rootfs size"
MACHINE `jetson-nano-emmc` fails to boot up after making the changes to the default `ROOTFSPART_SIZE` from 5233442816 to 4700000000 (or any other value).
`ROOTFSPART_SIZE = "4700000000"` was added in the `build/conf/local.conf` file to modify the rootfs size.
The failure can be seen on both the dunfell and master branches.

Output of the Test scenario on assigning `ROOTFSPART_SIZE` value `47000000

[2021-01-16 13:15] madisongh commented on #37
I don't think it's documented very well, but the NVIDIA bootloaders have some restrictions on placement of boot partitions.  In particular, the starting LBA has to have a particular alignment.  The details vary among the different chip models, and I don't remember them off the top of my head.  The tools don't necessarily enforce the requirements, either.

So the problem is that you can't set ROOTF

[2021-01-21 20:09] jajoosiddhant commented on #37
@madisongh Thank you for your help on this. I was able to make it work as you mentioned by sticking to even multiples of 1MiB.
I have updated the documentation [here](https://github.com/OE4T/tegra-demo-distro/wiki/Customization-of-Storage-Size-on-Mender-Builds) to inform about the same. Please let me know if this needs to be updated somewhere else as well or if you want to do it differently.

[2021-01-21 20:13] #37 closed

[2021-02-03 18:11] arrow53 opened #42 "mender install won't update"
I'm using this repo with a Xavier NX.

I'd say maybe 1 out of 5-10 times my `mender -install` update won't switch partitions. I can pop out my SD card and I can see the  rootfs A/B images and I can tell they are different as I keep a file that holds the version of my image in the filesystem.

Even manually changing the slots doesn't seem to do anything `nvbootctrl set-active-boot-slot`

Any tips o

[2021-02-03 20:12] madisongh commented on #42
Do you have a serial console attached to the device?  Capturing the serial console output (and saving the boot logs/journal) when this occurs should help in figuring out what's going on.

Also, which branch are you using?

[2021-02-03 20:20] arrow53 commented on #42
@madisongh I do have console. Would `dmesg` suffice or should I just capture everything that goes to console from power on? I can also provide any other specific files if you can think of what would help. I'll do this next time it happens.

[2021-02-03 20:47] dwalkes commented on #42
@arrow53 in case it's helpful there are some tests at https://github.com/mendersoftware/meta-mender-community/tree/dunfell/meta-mender-tegra/scripts/test which I've run successfully on Xavier NX in the past, these do 100 mender updates, verifyng partition swaps between them.

[2021-02-03 20:50] arrow53 commented on #42
Thanks @dwalkes I'll take a look. That lends some confidence that I'm doing something dumb. Appreciate that you've done that level of testing.

[2021-02-03 20:56] madisongh commented on #42
To get messages from the bootloader(s), you need to capture everything from power-on.  If you're logging OS startup messages to the serial console, that's good too - you'd be looking for the time where either a bootloader failed to boot the OS, or there was an OS startup failure before the system completely booted.

[2021-02-07 15:54] madisongh opened #43 "L4T R32.5.0: address Nano devkit flash layout change for Mender"
With R32.5.0, the Nano devkit's flash layout has changed to move all of the boot partitions into the QSPI flash. Unfortunately, there is insufficient space in the flash to hold all of those partitions and the expanded U-Boot environment (larger than the L4T default plus having two copies for redundancy) that we currently have configured for Mender on that platform.

I temporarily worked around the

[2021-02-07 17:37] #43 closed

[2021-02-07 22:35] arrow53 commented on #42
as best as I can tell, my image just got too big. the actual mmc partition didn't run out of room, but when I removed `dev-pkgs` from my image the upgrade start working again. I'm going to close this and I'll comment later if I discover anything definitiive.

[2021-02-08 06:32] supershabam opened #45 "unable to extract nvidia-l4t-graphics-demos_32.5.0 with workaround"
branches tested:
* `https://github.com/OE4T/tegra-demo-distro/commit/9089b6b920ef21a47b96049e86f8d673490f14ca`
* `https://github.com/OE4T/tegra-demo-distro/commit/a008bc408a651c4dfd17f5575cf5a6a4af446e48`

build configuration
[code]

host machine:
[code]

steps:
1. checkout tegra-demo-distro to desired commit
2. update submodules with `git submodule update --init `
3. run setup-env for tx2 and teg

[2021-02-08 12:13] madisongh commented on #45
Yes, NVIDIA started using XZ-compressed tarballs in at least some of the `.deb` packages with R32.5.0/JP4.5.  I added the `xz-native` dependency, but was testing builds on Ubuntu 20.04 and later, so I didn't run into the tar compatibility issue.

I think I know how to fix this, but the fix will be over in meta-tegra, rather than here in the distro.

[2021-02-08 19:43] madisongh commented on #45
It took a couple of tries, but I've implemented a fix/workaround for this in meta-tegra and have updated both master and dunfell-l4t-r32.5.0 to include it.

[2021-02-08 19:43] #45 closed

[2021-02-09 00:32] supershabam commented on #45
@madisongh 👏 wow, thanks for the quick work

[2021-02-15 13:58] brgl opened #52 "Mender update fails on Xavier NX"
Hi!

I'm trying to integrate mender with our system but I can't correctly update the device. I first noticed this error on a custom system but I can reproduce it with the vanilla `demo-image-base` image with hosted mender.

The update fails when the `ArtifactInstall_Leave_80_bl-update` state script runs and exits with an error. The offending line is:

[code]

And this is what happens inside:

[cod

[2021-02-15 14:05] ichergui commented on #52
Hey @brgl
Could you please give us more detail about the repo are you using ?Are you using `tegra-demo-distro` ? which branch ?
I think that I have tested the A/B system update and it was working fine. so please share the detail and  I will take a look and get back to you quickly.

[2021-02-15 14:08] brgl commented on #52
@ichergui Duh, sorry for not posting that right away. Below is my build info:

[code]

It's `dunfell` branch of `tegra-demo-distro` and I'm using the `demo-image-base` image. Let me know if you need more info.

[2021-02-15 14:18] ichergui commented on #52
@brgl No worries, one more question which machine are you using `jetson-xavier-nx-devkit` or  `jetson-xavier-nx-devkit-emmc` ? sorry to keep asking.
I want to try reproducing the same `env` you have.

[2021-02-15 14:19] ichergui commented on #52
@brgl no worries
I will try it and let you know.

[2021-02-15 21:42] madisongh commented on #52
The TNSPEC that was mentioned in the trace was `3668-300-0000-B.0-1-2-jetson-xavier-nx-devkit-mmcblk0p1`. That spec is derived from module version information stored in an EEPROM and is used to determine which flavors of the various bootloader binaries are compatible with the machine.  On some Jetsons, at least, different module versions require different versions of some the binaries.

Looks like

[2021-02-15 21:45] ichergui commented on #52
Thanks @madisongh
That's right.
I just finish testing here, all good.

[2021-02-15 21:55] madisongh commented on #52
OK, I've merged the change into the relevant branches in meta-tegra and have updated the corresponding branches of the distro with the latest, so next time you update (and `git submodule update` to update the layers), it should work better.

[2021-02-16 11:54] brgl commented on #52
Thanks a lot @madisongh, everything works now!

[2021-02-16 11:54] #52 closed

[2021-02-22 18:04] arrow53 commented on #52
@madisongh i'm on gategarth with a custom image but I'm wondering if this is the same as #42 ? Would this fix impact the gatesgarth branch as I'm still having problems getting updates to stick.

[2021-02-22 18:33] madisongh commented on #52
@arrow53 The symptom here is a failure during the `mender install`, consistently on a device with the newer version.  In #42 it sounded like you were saying that the install completes without error, but the device doesn't reboot into the new partition, some of the time.

[2021-02-22 18:38] arrow53 commented on #52
@madisongh ok got it. Yeah, I'm still having issues. I'll go back to to #42 if I can get some insight what to try/show. thanks.

[2021-02-22 19:29] arrow53 commented on #42
@madisongh

rather than dumping the whole boot output, here is a selection showing before and after
[code]
[code]
If I pop out the SD card I can see differences in the filesystem. The upgrade only seems to affect one partition and regardless of what I do with this `nvbootctrl set-active-boot-slot` I always see the same filesystem.

At the moment it seems no  matter what I do it's stuck pointing to

[2021-02-22 22:47] madisongh commented on #42
I don't recognize some of those cboot messages, and can't find them in the code - do you have the right cboot?  It should be reporting `Cboot Version: 32.04.04-oe4t-t194-583676d8` when it starts.  Despite the odd messages, it looks like cboot is identifying the slots correctly.  What does the kernel command line look like?  You should see a `boot.slot_suffix=` entry in it.

Here's an example, show

[2021-02-23 01:08] arrow53 commented on #42
@madisongh sorry, I added in some comments to cboot in order to try to get a better idea what it was doing.

Oh, man, that may be it. I haven't mucked with initframfs directory. But, I have a cboot/extlinux.conf setup where I load different dtb files based on camera discovery in cboot. Within there I have

[code]
this is probably overwriting the root partition name.

I probably just copied this li

[2021-02-23 11:56] madisongh commented on #42
It is indeed.

Yes.

[2021-03-11 17:50] ams-tech opened #66 "Transaction Check Error With "dev-pkgs" and "cuda-curand"/"cuda-nvrtc" on "dunfell-l4t-r32.4.3""
I'm getting a build error on the latest "dunfell-l4t-r32.4.3" branch.  I can recreate the error with the following steps:

- Pull the latest version of the branch (and update the submodules)
- Setup the environment with `. ./setup-env --machine jetson-tx2 --distro tegrademo-mender`
- Modify `build/conf/local.conf` with the following:
  - Add `IMAGE_INSTALL_append = "cuda-nvrtc cuda-curand"`
  - Ch

[2021-03-11 18:38] madisongh commented on #66
Looks like maybe we need to fix the ownership and/or permissions bits on the `${libdir}/pkgconfig` during the do_install step in those cuda recipes (and possibly others).  RPM is very fussy about having ownership and perms match exactly.

Could you file an issue over in meta-tegra for this?

[2021-03-11 22:17] madisongh commented on #66
Hmm.  I just ran a test build including the packages that were flagged in your build, and it all went fine.  Can you check that the contents of the RPMs for those packages have the right ownership and permissions for `/usr/lib/pkgconfig`?  For example:
[code]

The perms (`040755`) match and the owner is `root root` in each case.

If your copies aren't matching, that could be due to a pseudo issue.

[2021-03-14 03:25] dwalkes commented on #66
The first time I tried to build this combination (on what I believe is the same server @ams-tech is using) I got a different error at [log.do_rootfs.txt](https://github.com/OE4T/tegra-demo-distro/files/6135856/log.do_rootfs.txt)

[code]

[code]
[code]

Permissions on `postinst_intercept` look like they aren't conducive to executing:
[code]

I also see a dump of warning messages which are probably

[2021-03-14 20:52] dwalkes commented on #66
The error above mysteriously disappeared for me today and I can't reproduce this anymore. I'm not sure what was happening there.

I see why I didn't replicate the transaction check error before.  I was missing the edit for `dev-pkgs` in `EXTRA_IMAGE_FEATURES`, I tried to add to the bottom of `build/local.conf` file instead which was just ignored since the variable was already defined above without

[2021-03-15 15:59] madisongh commented on #66
OK, that's odd.  I also see the `.pc` files themselves have `0674` perms, rather than `0644`. The recipe uses `cp --preserve=mode` to stage the files from the NVIDIA deb package during the do_install step, and the mode (perms) settings on the source files are:
[code]
Which are 0755 and 0644. Not sure where along the way those permissions are getting lost/overwritten.

What's the host OS, and what

[2021-03-15 17:11] jajoosiddhant commented on #66
@madisongh
Host OS:
[code]

UMASK
[code]

We don't have selinux installed on the build server however AppArmor is running.

[2021-03-15 21:04] madisongh commented on #66
@jajoosiddhant Thanks.  I just tried a from-scratch build of cuda-curand on an 18.04 system and it came out OK, too.

A couple more questions:
* Are you guys up-to-date with the latest? There have been a number of fixes for pseudo that have gone into OE-Core recently, and the latest tegra-demo-distro is up-to-date with those.
* It doesn't look like it, but just to check - are you using a shared-st

[2021-03-15 21:04] jajoosiddhant commented on #66
@madisongh
I was just able to get rid of the error by adding `DIRFILES="1"` in `meta-tegra/recipes-devtools/cuda/cuda-curand_10.2.89-1.bb` and `meta-tegra/recipes-devtools/cuda/cuda-nvrtc_10.2.89-1.bb`

See https://www.yoctoproject.org/pipermail/yocto/2017-June/036455.html
and  https://stackoverflow.com/a/44763692

[2021-03-15 21:14] jajoosiddhant commented on #66
We are up to date with `origin/dunfell-l4t-r32.4.3`

We shouldn't be using it as all relevant shared-state mirror lines in `local.conf` are commented.

[2021-03-15 21:17] madisongh commented on #66
Interesting... DIRFILES is a new one on me. I suspect, though, that that setting isn't really required (as mentioned in the e-mail thread, if it were, then lots of other packages would also need it). Adding it caused the recipes to be rebuilt (well, repackaged) from scratch again, so any stray sstate that may have had the bad contents didn't get reused.

[2021-03-15 21:31] jajoosiddhant commented on #66
If that would have been the case then, building again after removing `DIRFILES` should not give me an error but it did output the same error.
[code]

[2021-03-15 21:38] madisongh commented on #66
It will if you're reusing sstate from a build that has the problematic contents.  You have to be absolutely sure that you're rebuilding from scratch.

[2021-03-16 18:42] jajoosiddhant commented on #66
This is the summary of all the methods I tried to locate the issue:
To ensure clean build I followed the following steps before each build on the build-server
[code]
First build with no `DIRFILES` - error in build
Second build with `DIRFILES` - Successful build
Third build with no `DIRFILES` - error in build

We were able to build successfully on a different machine without using `DIRFILES`.

@ams

[2021-03-17 10:31] madisongh commented on #66
Maybe an issue with the filesystem itself, or something in the kernel running on that system? Have you run `fsck` on the filesystem, and kept the kernel up-to-date? Those would remain the same regardless of whether you're running inside or outside a container.

It works around the issue by not including the parent directory in the RPM package, so there's no permissions conflict when it gets instal

[2021-03-21 19:02] dwalkes commented on #66
Thanks @madisongh for the suggestions.

I can make the problems go away if I:
[code]
Then build from the yocto account.

Previously our workflow has been to perform builds under one account, which might be a different account than we used for cloning/editing.  It appears something has broken with this recently, although I don't fully understand how this ever would have worked previously based on t

[2021-03-21 19:02] #66 closed

[2021-03-22 10:53] madisongh commented on #42
@arrow53 Did removing the root setting from your extlinux.conf file fix the problem?

[2021-03-22 14:44] arrow53 commented on #42
oh, i'm sorry. I forgot to close this. Yes it did.

[2021-03-22 14:44] #42 closed

[2021-06-17 20:59] brgl opened #120 "Bad kernel command-line for jetson nano"
Hi!

I've been using meta-tegra with a custom distro on Xavier NX for some time with no major issues. We're now verifying the feasibility of downsizing to nano and so I built a regular `core-image-minimal` with the tegra demo distro for testing and I can't boot it on a brand new nano board - it goes into initramfs shell. The reason for the failure is this: the initramfs tries to mount a non-existe

[2021-06-17 21:40] madisongh commented on #120
That's probably coming from the `KERNEL_ROOTSPEC` setting, which is used to form the `APPEND` line in `/boot/extlinux/extlinux.conf` - part of the U-Boot setup that you wouldn't see on the Xavier.  By default it sets the `root=` parameter based on the device number and partition number discovered from locating the `extlinux.conf` file.

I'm not sure why the partition number is coming out blank in

[2021-06-18 09:44] brgl commented on #120
@madisongh Thanks for the hint. Indeed if I do `setenv distro_bootpart 1` in u-boot and then boot, the system goes into user-space just fine. I'm trying to figure out why this variable is not defined by default in my u-boot env. I went with an even simpler setup - just poky and meta-tegra on `dunfell-l4t-r32.5.0`. The issue is still there.

[2021-06-18 10:10] madisongh commented on #120
Is this a Nano dev kit (with SD card)?  If so, did you program the SPI flash on it (`./doflash.sh --spi-only`)?  If not, then the copy of U-Boot on it may not be the right one.  Ours has a patch that temporarily sets `distro_bootpart` in the environment (in the boot script, it's a shell variable) so it can be used this way.

[2021-06-18 13:07] brgl commented on #120
Yep that's it. I thought that since the system boots (unlike Xavier NX without SPI flashing), I don't need it. Closing this now.

[2021-06-18 13:07] #120 closed

[2021-06-29 07:56] Schlumpf opened #121 "KAS support?"
Hi,
this repo is currently based on git submodules. Are there any plans to support [kas](https://github.com/siemens/kas) in future?

best regards
Schlumpf

[2021-06-30 17:16] madisongh commented on #121
No plans, but if someone wants to use it and finds there's something we could do to make it easier to use with the layers here, I'd be open to discussing that.

[2021-07-06 12:17] Aufschlauer opened #124 "Mender partitions (A/B/data) within the SDcard image?"
Hi,

I'm stuck on first boot with my image. Here is the context:
- Target: Jetson Nano Developer Kit
- Branch: `hardknott`
- Machine: `jetson-nano-devkit`
- Distro: `tegrademo-mender`
- Image: `core-image-minimal`
- SD card: 32GB

Flashed using the `dosdcard.sh` script on host
[code]

On first boot the system gets stuck at first boot
[code]
When I look at the status of the mender grow service (tar

[2021-07-06 12:49] madisongh commented on #124
The SDcard should have three partitions on it, if you're using the default flash layout we have for `jetson-nano-devkit` in the `tegrademo-mender` distro.  The output from running the `dosdcard.sh` script should have ended with something like this:
[code]
and your `fdisk` output should be like this:
[code]
And if you examine the `flash.xml.in` file you get after unpacking the `tegraflash.tar.gz` p

[2021-07-06 15:10] Aufschlauer commented on #124
Ok, thanks. I started over and now I got the same output and a login prompt of `tegrademo-mender` distro.

[2021-07-06 15:10] #124 closed

[2021-07-08 14:05] Schlumpf commented on #121
OK, thanks for the answer.
I got it to work with kas without any changes to this repository.

[2021-07-08 14:05] #121 closed

[2021-07-22 02:49] outbackdingo commented on #121
ok can you provide simple steps on how you did it ?

[2021-07-22 02:51] outbackdingo opened #126 "XFCE desktop - core-image-minimal-xfce"
best case scenerio for getting demo-image-full without wayland/weston and using XFCE instead ? looking to build a local systems for some testing.

[2021-07-24 00:32] outbackdingo opened #127 "ERROR: gcc-sanitizers-8.3.0-r0 do_compile: oe_runmake failed"
when trying to add EXTRA_IMAGE_FEATURES ?= "debug-tweaks tools-sdk dev-pkgs" so there was a compiler and dev tools in the image it failed with

ERROR: gcc-sanitizers-8.3.0-r0 do_compile: oe_runmake failed
ERROR: gcc-sanitizers-8.3.0-r0 do_compile: Execution of '/home/dingo/tegra-demo-distro/build/tmp/work/armv8a-oe4t-linux/gcc-sanitizers/8.3.0-r0/temp/run.do_compile.3850804' failed with exit code

[2021-07-24 11:36] madisongh commented on #127
This is on `master`, right? Looks like [this gcc issue](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=100379).
Back-porting [this patch](https://gcc.gnu.org/git/?p=gcc.git;a=commit;h=745dae5923aba02982563481d75a21595df22ff8) from gcc-9 should take care of it.

[2021-08-17 00:22] ichergui opened #139 "R32.6.1-t194: Gstreamer capturetest script doesn't work properly"
**Describe the bug**

Testing on `wip-dunfell-l4t-r32.6`, `jetson-agx-xavier-devkit`, `demo-image-sato` .

[code]

Fixing the `capturetest` script is needed .

**To Reproduce**
Steps to reproduce the behavior:
1. Use `tegra-demo-distro`, branch `wip-dunfell-l4t-r32.6`
2. Build `demo-image-sato`
3. Load onto target (tested with `Xavier AGX devkit`)
4. try the following commands

[code]

[2021-08-17 10:40] #139 closed

[2021-09-01 10:36] #126 closed

[2021-09-25 17:06] lorienberne opened #155 "There is no MB1-BCT device type corresponding to pt type: 9"
Hello,

I am trying to change the partition layout to use NVME but I am getting this error:

[code]

I have modified flash_mender.xml via a patch to replace the device type like this:

[code]

Does this make sense? Is using NVME supported with yocto (it is with jetpack)? If it is not supported can you guide me where should I make modifications to supported so I can submit a PR?

[2021-09-25 17:52] dwalkes commented on #155
NVMe is definitely supported as a storage option, but I think you are asking if you can boot from it and flash it as an alternative to using eMMC.

I don't have personal experience with this, perhaps others here do.  [This post](https://forums.developer.nvidia.com/t/tegraflash-nvme-support/170278) on the forum looks like it might be related, looks like there are some important limitations about bo

[2021-09-25 19:26] lorienberne commented on #155
Thank you for your fast reply!

Yes, I am looking to boot from NVMe. Our image ends up taking to much space and doesn't fit in the emmc. I was looking to move the rootfs to NVMe while keeping mender OTA updates functionality. As far as I know fFrom 32.6.1 onwards booting from NVMe is officially supported by NVDIA. Does this also apply to yocto images with mender? Where should I look in to?

[2021-09-25 19:43] dwalkes commented on #155
I don't know of anyone using this yet, so you are probably going to be blazing a new trail.

If you haven't already I'd start by getting the stock distribution working with NVIDIA's instructions.  As mentioned above, it looks like there are some limitations you need to understand.  Once you understand the deployment status on NVIDIA stock L4T you can likely understand what, if anything, is differe

[2021-09-26 12:28] lorienberne commented on #155
I will write any discoveries I make.

Thank you for the support.

[2021-10-26 12:30] Schlumpf opened #167 "Unable to create ext SDK"
I'm unable to create an extensible SDK when using this repo.
Is it unsupported, or am I doing something wrong?

[2021-10-27 18:29] #167 closed, assigned to nobody

[2021-11-17 11:41] ierturk opened #174 "No UVC Camera and IWLWIFI"
Hi,

I already tried all demo images on Jetson Nano Devkit as described in the READ.ME. I have an Intel 8265 on M.2 interface and a UVC camera on USB. However there is no video device and no wifi/bluetooth device listed anywhere. I checked kernel config (`bitbake -c menuconfig virtual/kernel`) and the modules seems to be enabled. However there is no kernel module under `/lib/modules/4.9.253-l4t-r3

[2021-11-17 12:08] madisongh commented on #174
Just add the needed kernel modules to your image.  If you know that just those two are needed, then putting
[code]
in your `local.conf` should be enough.  If there are other kernel modules that you might need, you could just use
[code]
to have all kernel modules included in the image.

[2021-11-17 14:55] ierturk commented on #174
Thanks for prompt reply. Now uvc camera is up. But iwlwifi has some error. I get the info from dmesg as follow
[code]

[2021-11-17 15:04] madisongh commented on #174
Sounds like you need to include the needed firmware in your image, too, doesn't it? There is a `linux-firmware-iwlwifi-8265` package available which might provide what you need.

[2021-11-18 10:57] ierturk commented on #174
hi @madisongh,

Thanks for your great support. I also added some extra code and it seems to be OK now.
[code]
I have just one more question how to get the command `nmcli`. I added extra packahe as follow bot no command found `nmcli`.
[code]
Regards,
Ibrahim

[2021-11-18 12:00] ierturk commented on #174
Hi @madisongh, I added the command `nmcli` as follow. Everything  seems to be OK. I have just a problem the module. Initialization take some time then usual because of the system try all `ucode`s from 26 to 22. For now we can close the issue.

IMAGE_INSTALL:append = " networkmanager-nmcli"

Thanks again.
Ibrahim

[2021-11-18 12:31] #174 closed

[2021-12-01 17:42] ddbabich opened #177 "Docker not working properly in tegra-demo-distro-image-full (Honister)"
Hi, I followed the instructions for creating a custom distro using the Honister branch for a TX2i.  When I try running docker containers I get a somewhat ambiguous error.  So I thought perhaps I did something wrong in my own distro.  I wen't back to the tegra-demo-distro demo-image-full with no changes and installed it on my TX2i.  I receive the same error while attempting to run the container:

[

[2021-12-01 18:09] madisongh commented on #177
At what revision is your meta-tegra submodule?  That looks like an issue that was fixed with [this commit](https://github.com/OE4T/meta-tegra/commit/2ebbd54ccc48cba5dfaa74a54f7acc7de105fb55#diff-97a31023ba3ada2059420c1fce7a90c39ee5a82f01e10d39ab480523ac80ff3d), so make sure you're at least at that commit or later.

[2021-12-01 18:30] ddbabich commented on #177
Ah, yes I haven't updated that layer in a while.  I'm on the honister branch commit:
5fd61c425b16cf028a17245d7dfaa82c44d879c3
which just happens to be one commit prior to the commit you linked :1st_place_medal:

Sorry about that, not sure why I didn't think to try and update...

I'll give it a try
Thanks!

[2021-12-01 18:56] ddbabich commented on #177
Yes that fixed it!  Thanks again for the help, glad that was an easy one.

[2021-12-01 18:56] #177 closed

[2022-01-24 09:55] ichergui commented on #155
Hello @lorienberne

Is there any updates about this issue ? otherwise, I will close it

[2022-02-01 18:35] jwinarske opened #186 "Non-X11 images"
I'm building Weston image without X11.  Nano and NX.

CI jobs:
https://github.com/meta-flutter/meta-flutter/blob/jw/nvidia_nx/.github/workflows/dunfell-nvidia-jetson-nano-devkit.yml
https://github.com/meta-flutter/meta-flutter/blob/jw/nvidia_nx/.github/workflows/dunfell-nvidia-jetson-xavier-nx-devkit.yml

X11 appears to be tightly coupled with demo-image-weston, and the build is ignoring this:
ech

[2022-02-01 22:59] jwinarske opened #187 "`doflash.sh --spi-only` alignment error"
Branch: dunfell-l4t-r32.5.0

Flashing Nano with Weston image it fails with `size of demo-image-weston.ext4 is not mulple of 1048576.`

CI Job used to build image:
https://github.com/meta-flutter/meta-flutter/blob/dunfell/.github/workflows/dunfell-nvidia-jetson-nano-devkit.yml

Given I'm only updating SPI why does it care about a misaligned `demo-image-weston`?

[code]

[2022-02-01 23:06] jwinarske commented on #187
Aligning the file to nearest boundary of 1048576 with zero works around the issue:
[code]

[2022-02-02 00:23] jwinarske commented on #186
To get vulkaninfo and Sascha Willems samples (latest configured for Wayland) running on Wayland I needed to make this change

From
[code]

To
[code]

[2022-02-02 11:22] madisongh commented on #187
Yeah, the script could be fixed to skip the `mksparse` run on the rootfs for the SPI-only case.

Not sure why `mksparse` is complaining, though. The IMAGE_ROOTFS_ALIGNMENT variable should be set to 1024 for the SDcard-based machines, which would produce a rootfs image sized as a multiple of 1048576.

[2022-02-02 11:35] madisongh commented on #186
Interesting, thanks.  The `nvidia_icd.json` file is copied out of the L4T package, so the GLX library is the one that NVIDIA specifies there as the provider.  If directly specifying the other library works, great.

There are several dependencies on x11 in L4T, and they're not all easy to tease out. Since NV's targeting Ubuntu with their prebuilt binaries, x11 is always present.

[2022-02-02 13:45] jwinarske commented on #187
@madisongh what was interesting was after deleting the whole folder and re-extracting the archive it worked without complaint.  I only saw this issue with Xavier NX.

[2022-02-02 13:54] jwinarske commented on #186
@madisongh I understand.  It would be good to have an active list of items that depend on X11.  I would expect NVidia to eventually move away from X11; perhaps they have no plans.  Ubuntu 20 Gnome window manager defaults to Wayland, and X11 is emulated (XWayland).  Between the two you get higher framerates with Wayland.

[2022-02-02 21:06] madisongh commented on #187
I'm going to move this over to the meta-tegra repo, since that's where any fixes will go.

[2022-02-11 15:00] damgot opened #190 "Mender Image Upgrade failed (bootloader update error)"
Hello, I'm trying to upgrade my Jetson nano (with a yocto image) trought mender.
So I've uploaded my .mender image on my mender server and programmed a release for my device.

The upgrade process start fine but I rapidly got an error :
Feb 11 10:46:37 jetson-nano-qspi-sd mender[4710]: time="2022-02-11T10:46:37Z" level=info msg="Executing script: ArtifactInstall_Leave_80_bl-update"
Feb 11 10:46:37

[2022-02-11 15:05] ichergui commented on #190
Hello,

[2022-02-11 15:25] ichergui commented on #190
I will check later and will keep updated.

[2022-02-11 15:32] madisongh commented on #190
This looks like the source of the problem: `TNSPEC 3448-401-0000-B.0-1-0-jetson-nano-qspi-sd-mmcblk0p1`

The `401` is a recent board revision (aka FAB), and the BUP payload generator isn't including entries for that.

Assuming it boots and runs OK when you flash it via USB, you can just work around the problem by adding:
[code]
to your build configuration (e.g., to `$BUILDDIR/conf/local.conf`).

[2022-02-11 17:13] ichergui commented on #190
Hey guys,

I push a [PR](https://github.com/OE4T/meta-tegra/pull/898) to master branch of `meta-tegra` to add support for the new FAB.
Will back ported to the appropriate branches once this one is merged.

[2022-02-11 17:46] damgot commented on #190
Hello.
A Big thanks for your very fast support. It works perfectly. Just adding the fab 401 in my local.conf solved the problem.
Thanks a lot !

[2022-02-11 17:46] #190 closed

[2022-02-17 20:05] timongentzsch opened #194 "kbd compilation error after pulling changes"
After pulling the latest changes via `git pull`, I get an error compiling the `kbd` package (See attachment). Strangely, this error persists even if I revert the affected repository (`poky`) to the previous commit. For my part, I can only fix the problem by deleting the whole build folder and restarting the build from scratch.

To be honest, I don't really understand where the error lies, since ev

[2022-02-17 20:24] madisongh commented on #194
Which branch? dunfell?  I just tried a `bitbake -c compile kbd` in a dunfell-based workspace, and am not seeing that failure.

Maybe just try `bitbake -c clean -c cleansstate kbd` and then try building it again?

[2022-02-17 21:09] timongentzsch commented on #194
yes I'm on `dunfell` branch. Yeah I got it solved by  doing the `bitbake -c clean -c cleansstate kbd`. Probably something was dangling from the old build.

[2022-02-17 21:09] #194 closed

[2022-03-01 22:16] jwinarske opened #197 "gst-plugins-bad vulkan build failure"
Hitting
`ERROR: gstreamer1.0-plugins-bad-1.14.4-r0 do_compile: oe_runmake failed`

Perhaps I need to override the package config for gstreamer1.0-plugins-bad.

[code]

[code]

Is there an expected Vulkan header version required for GST 1.14.4?  Perhaps I'm running something too new.

[2022-03-02 01:05] jwinarske commented on #197
https://gitlab.freedesktop.org/gstreamer/gst-plugins-bad/-/issues/1316

[2022-03-02 11:18] madisongh commented on #197
Do you need the Vulkan gstreamer plugins?  If not, it might be simpler to disable it altogether with `PACKAGECONFIG:remove = "vulkan"` in a bbappend for the recipe.

If you do need them, I'd be happy to take a patch over at the [meta-tegra](https://github.com/OE4T/meta-tegra) repo.

[2022-03-02 12:14] madisongh commented on #197
Actually, we already have a patch for this, added with [this commit](https://github.com/OE4T/meta-tegra/commit/804b5053fdabed24118717d21a075a51e345a364).

[2022-03-02 16:44] jwinarske commented on #197
I do need Vulkan gstreamer plugins.  I'm targeting `dunfell-l4t-r32.5.0`.

I see the patch it in master, but not in :
https://github.com/OE4T/meta-tegra/tree/4af18120863c97a04795f294b542a8cf036347e1/contrib/recipes-multimedia/gstreamer-1.14/gstreamer1.0-plugins-bad
https://github.com/OE4T/meta-tegra/tree/dunfell-l4t-r32.5.0/contrib/recipes-multimedia/gstreamer-1.14/gstreamer1.0-plugins-bad

Then o

[2022-03-02 16:52] madisongh commented on #197
vulkan in OE-Core dunfell is at version 1.1, so you shouldn't need the patch in dunfell-based branches unless you've got another layer where you're overriding with a newer version... in which case, you should be able to apply the patch there via a bbappend.

You don't have to use gstreamer 1.14, but we have the recipes, and default to using them in the demo distro, because they're more compatible

[2022-03-02 23:21] jwinarske commented on #197
@madisongh

I'm working around it using
[code]

This had no impact
[code]

1.18 is the desired version.

[2022-03-03 11:14] madisongh commented on #197
The recipe name in the `PREFERRED_VERSION` variables is *not* an override, so you should use an underscore as separator there, not a colon.

The [config file](https://github.com/OE4T/meta-tegra/blob/master/contrib/conf/include/gstreamer-1.14.conf) that is being included by the distro config file honors a variable called `GST_VERSION` to make it easier to change the preferred version.

[2022-03-09 12:15] #197 closed

[2022-04-11 06:50] maggu2810 opened #201 "boot failed after adding rsync (dunfell-l4t-r32.5.0, jetson-xavier-nx-devkit, tegrademo-mender)"
Hi,
I use the branch "dunfell-l4t-r32.5.0" for tests as I need JetPack 4.5 for the moment.

* I switched the working copy with all submodules to the specific branch.
* After that I setup the environment for machine "jetson-xavier-nx-devkit" and distribution "tegrademo-mender".
* I did a build for "demo-image-full"
* Boot the device into recovery mode
* I flashed the device using `./doflash`
* The

[2022-04-11 11:39] madisongh commented on #201
[code]

You probably wanted to use either `IMAGE_INSTALL_append = " rsync"` or, better yet, `CORE_IMAGE_EXTRA_INSTALL = "rsync"` (so it only goes into the real rootfs image instead of being added to all images that might get built).

By using `+=` in your `local.conf`, what you've likely done is to change the contents of the rootfs image to be _only_ rsync.  `switch_root` then can't find `init` in

[2022-04-11 18:02] #201 closed

[2022-07-06 11:24] danny1209 opened #213 "vi 54080000.vi: tegra_channel_error_status:error 4000"
### Discussed in https://github.com/OE4T/tegra-demo-distro/discussions/212

<div type='discussions-op-text'>

<sup>Originally posted by **danny1209** July  6, 2022</sup>
Hi,
the same camera driver code, which I tested in Nvidia Jetpack(4.6.1) and Yocto image(r32.6.1), in Nvidia Jetpack without any problem, but in the yocto image I get this error randomly.
Does someone have idea? Many thanks!
[  +5

[2022-07-14 09:30] vinotion opened #214 "Mender delta updates fail to work due to systemd-machine-id-setup service"
As promised in [this discussion](https://github.com/OE4T/tegra-demo-distro/discussions/198); here's a suggestion for making Mender delta updates work.

At the beginning of the boot process, systemd-machine-id-setup will change the machine ID in `/etc/machine-id`. If the root filesystem is writable at this moment in time, this will effectively change the root filesystem, and thereby disabling the a

[2022-07-14 14:18] dwalkes commented on #214
Thanks @vinotion!

This relates to https://github.com/OE4T/tegra-demo-distro/discussions/198 as well as https://github.com/OE4T/meta-mender-community/pull/8#issuecomment-730504059 and https://github.com/OE4T/meta-tegra/pull/527.  It's also related to https://github.com/systemd/systemd/issues/14131 Cross referencing to setup links to these.

The change at https://github.com/OE4T/meta-tegra/pull/527

[2022-07-14 15:25] madisongh commented on #214
The way I've dealt with this in my projects is to use systemd's volatile root feature, setting `systemd.volatile=overlay` on the kernel command line, documented [here](https://www.freedesktop.org/software/systemd/man/kernel-command-line.html#systemd.volatile=), then handling things like host name and timezone settings with additional programs/scripts to stash the settings in a persistent location

[2022-07-28 14:01] llewellyn-evo opened #215 "td-initramfs"
Hi

I can't seem to find any information about this. I am trying to use SW update and A/B support on branch dunfell-l4t-r32.5.0 and I get the error no buildable providers for td-initramfs. Any help would be appreciated.

Thanks

[2022-07-28 14:10] madisongh commented on #215
There is no `td-initramfs` recipe in this distro (nor support for `swupdate`). I have a demo of `swupdate` support in [my test distro](https://github.com/madisongh/tegra-test-distro), which was forked off this one, and that has the `td-initramfs` recipe.

[2022-08-01 13:37] Arech commented on #186
Gentlemen, excuse me for an offtopic, I'm looking for solution to another problem, but relevant resources are extremely scarse, so trying every opportunity. Do you know how to get rid of `nvdc` spamming these `nvdc: start nvdcEventThread` and `nvdc: exit nvdcEventThread` on Vulkan instance creation/destruction?

Also could that mean that Vulkan drivers are actually in a debug mode (and not product

[2022-08-17 07:19] Gandouge78 opened #218 "meta-mender-commercial failed with kirkstone branch"
Hi,

I try to update my current distro from dunfell to kirkstone.
We use mender-delta-binary and I have some issue with the meta-mender repository.
It seems that the receipts in meta-mender-commercial are not compatible with kirkstone.

For now i will create a fork on my account an try to fix it  but do you have an idea of when you will make the change ?

`ERROR: Variable EXTRA_IMAGECMD_ext4_appen

[2022-08-17 12:30] ichergui commented on #218
Hello @Gandouge78
We didn't work yet on the update mechanism (using `mender`).
You should open an issue in the [mender](https://github.com/madisongh/meta-mender) and ask them about `kirkstone`  because it doesn't exists in both `meta-mender` and `meta-mender-community`

[2022-08-17 14:31] dwalkes commented on #218
One clarification here - kirkstone branch should be working for Jetpack 4.6 on https://github.com/oe4t/tegra-demo-distro/tree/kirkstone for `tegrademo-mender` using https://github.com/mendersoftware/meta-mender-community/tree/kirkstone-next.  I haven't tried any recipe in meta-mender-commercial, however, and this is something you should bring up with Mender.

[2022-08-17 16:32] ichergui commented on #218
Thanks @dwalkes for the clarification.

I didn't try `kirkstone` with `L4T R32.7.2 / JetPack 4.6.2`

[2022-08-17 16:54] Gandouge78 commented on #218
Thanks for the answer.
Yes tegrademo-mender is working perfectly.
The problem is when you add mender-binary-delta or mender-monitor to tegrademo-mender.
I will look into mender repo and ask them

[2022-08-17 17:51] madisongh commented on #218
I think I just converted meta-mender-core to use the new overrides syntax for our kirkstone-compatible fork of the meta-mender repository, since that's all we use here.

[2022-08-18 14:28] Gandouge78 commented on #218
Ok thanks @madisongh
It's what I observed.
I make the change in a fork of mine and it's working perfectly

[2022-08-18 14:28] #218 closed

[2022-08-23 17:37] Gandouge78 opened #223 "Can't Flash Jetson TX2 NX with Kirkstone branch"
Hi,
I try to flash my TX2NX with a fresh build of tegra-demo-distro using the branch Kirkstone.
Here what I done

1. clone tegra-demo-distro and checkout branche **kirkstone**
2. git submodule update --init
3. . ./setup-env --machine jetson-xavier-nx-devkit-tx2-nx
4. bitbake core-image-minimal
5. tar xvf core-image-minimal-jetson-xavier-nx-devkit-tx2-nx.tegraflash.tar.gz
6. sudo ./doflash.sh

And

[2022-08-23 18:46] madisongh commented on #223
I just tried this on my TX2-NX (mounted in a Xavier NX dev kit), and had no issue.  The NVIDIA tools do a lousy job of error reporting, but usually this sort of thing happens if there's a problem with USB communication.  Have you followed the guidelines on the [wiki page](https://github.com/OE4T/meta-tegra/wiki/Flashing-the-Jetson-Dev-Kit)?  In particular, using as direct a connection as possible

[2022-08-23 19:40] Gandouge78 commented on #223
Ok I will try again with another cable.

[2022-08-24 05:54] Gandouge78 commented on #223
Found my problem.
I recover my Xavier NX dev kit in 2/3 weeks so I used my custom carrier board.
For the flash to succes I need to replace the pinmux and tegra186-bpmp-p3636-0001-a00-00.dtb.

Now every works thanks

[2022-08-24 05:54] #223 closed

[2022-09-10 07:03] #215 closed

[2022-09-13 13:06] elbbit01 opened #227 "xusb firmare loading fails after kernel payload update"
Hi,
I have an issue when uploading the kernel. We have an OS for nvidia Jetson Xavier based on meta-tegra where everything works fine when flashing with the autogenerated scripts.
We have also been updating the rootfs without a problem, and we have found issues doing so with kernel_only.bup-payload. We are using nv_update_engine for it, first enabling redundancy and then installing the payload. Th

[2022-09-13 13:19] madisongh commented on #227
This is the kernel trying to load the firmware from the file `/lib/firmware/tegra19x_usb_firmware`.  Is that file missing from your rootfs?  If you use an initramfs (as we do in this demo distro), is that firmware file installed in the initramfs's rootfs filesystem?  The driver may need that firmware early on in the boot process, so you need to make sure it's included in your initramfs.

[2022-09-14 13:21] leonheld opened #228 "ExpansionError during parsing eglstreams-kms-example"
Hi there 👋🏻

I got this error during a build. It's most likely a problem upstream, but I'll open the issue here because I pretend looking into it later on if this is not a common problem. For now I just removed the eglstreams-kms-example recipes and took it out of the packagegroup.

System: docker running Ubuntu 18.04.

Logs:

[code]

[2022-09-14 13:55] ichergui commented on #228
Hey @leonheld

Thanks reporting this issue. I will take a look and will keep you updated.

[2022-09-14 14:08] ichergui commented on #228
@leonheld
Which branch you are using ?
I tried master branch and it is working fine

[code]

[2022-09-14 17:02] madisongh commented on #227
The mechanism for generating the BUP payload depends on whether you've got `INITRAMFS_IMAGE_BUNDLE` set to 1 or 0.  By default, we have it set to 1, so `bitbake kernel-bup-payload` should generate the correct payloads for you.  If it's set to 0 (separating the initrd from the kernel build), you need that `IMAGE_FSTYPES` addition (and we do that automatically in the `tegra-minimal-initrams` recipe)

[2022-09-15 12:08] madisongh commented on #227
As I mentioned above, the `kernel-bup-payload` will do that for you.  But even simpler is to use the `tegra-bup-payload` recipe, which installs a BUP payload into the `/opt/ota_package` directory in your rootfs; it calculates its dependencies based on the initramfs bundling setting automatically.

[2022-09-15 12:26] elbbit01 commented on #227
Hi,
you are right of course, I just followed my line of thinking and skipped what you meant with the recipe. The kernel-bup-payload recipe is all I need. It is working now. I just need to adapt a couple of recipes on my project.
Thanks a lot.
Alvaro.

[2022-09-15 13:52] ichergui commented on #228
@leonheld
Any updates ?

[2022-09-19 18:33] #227 closed

[2022-09-21 11:06] ichergui commented on #228
Closing this issue because of no updates.
If the issue persist please open new ticket

[2022-09-21 11:06] #228 closed

[2022-11-03 12:11] hesmar opened #232 "failed to build custom distro with mender enabled"
Hi, I created a custom distro layer using the `create-distro-layer` script:
[code]
After that, I tried to build an image using this distro:
[code]
Bitbake gives me the following error:
[code]

If I create the distro without Mender (removing the `-m` argument), bitbake works fine. How can I make it work with Mender support enabled?

[2022-11-03 12:41] ichergui commented on #232
Hello @hesmar

Please check you `BBLAYERS_CONF_VERSION`

[2022-11-03 13:49] dwalkes commented on #232
Which branch?  This sequence worked for me on dunfell.

[2022-11-03 14:20] hesmar commented on #232
I am on `kirkstone-l4t-r32.7.x`.

@ichergui This is the `bblayers.conf`:

[code]

[2022-11-03 16:57] dwalkes commented on #232
I can reproduce.

I think the problem is at https://github.com/OE4T/tegra-demo-distro/blob/4f6b3291e07f51e94025348a8dfcc0ea924b03b6/scripts-setup/create-distro-layer#L79-L81 which is only appending to the `distro.conf` file but not updating `REQUIRED_TD_BBLAYERS_CONF_VERSION`.  I'm not sure why it's doing the append as opposed to just copying the tegrademo-mender.conf from [conf/distro/tegrademo-m

[2022-11-08 09:36] hesmar commented on #232
Ok, it also helps to apply the following change in the `layers/meta-my-mender/conf/distro/my-mender.conf` after using the `create-distro-layer` script:
[code]

[2022-11-08 10:12] ichergui commented on #232
That's was my suggestion :wink: earlier

[2022-11-08 10:53] ichergui commented on #232
@dwalkes Any action from our side ?  otherwise I will close this issue

[2022-11-08 13:44] madisongh commented on #232
Sounds like the create-distro-layer script needs a fix.

[2022-11-08 13:51] ichergui commented on #232
Okay
I or @dwalkes will take it

[2022-11-08 14:52] dwalkes commented on #232
I've got some hacks in https://github.com/OE4T/tegra-demo-distro/pull/233 which I think will fix it.